<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://www.vanhack.com/wp-content/uploads/2018/11/favicon.ico" type="image/x-icon">
    <title>Isaac Israel - Vanhackaton 2019</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <footer>
      <a href=" https://github.com/IsaacIsrael/rails-pdf-form" target="_blank" data-toggle="tooltip" data-placement="top" title="Github">
        <i class="fab fa-github"></i>
      </a>
    </footer>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
